{% extends 'layout.html' %}

{% block content %}
<h2>Burritos</h2>
<p> Make your delicious <a href="{{url_for('burrito')}}">burrito</a> today!
</p>

    {% if burritos.count() %}
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Protein</th>
              <th>Cheese?</th>
              <th>Shell</th>
              <th>Extras</th>
            </tr>
          </thead>
          <tbody>
        {% for burito in burritos %}
            <tr>
              <!-- taco attributes here -->
            </tr>
        {% endfor %}
          </tbody>
        </table>
    {% else %}
        <!-- message for missing tacos -->
    {% endif %}
{% endblock %}
